<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img src="https://imgs.search.brave.com/T0WYDec-QmeJbqn_733Kg4SgHXAajJ77ZJY9n48p14E/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tYXJj/YXMtbG9nb3MubmV0/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzAyL1BsYXlTdGF0/aW9uLUxvZ28tMTk5/NC01MDB4MzgwLnBu/Zw"
    alt="Logo Playstation"
    width="50px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
      <li><a href="">INSPIRAÇÃO</a></li>
      <li><a href="">LINKEDIN</a></li>
      <li><a href="">GITHUB</a></li>
    </ul>
  </div>


</div>
