
<app-menu-title></app-menu-title>
<div class="articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover="https://imgs.search.brave.com/x5P0u7C6s2u5s6MCDeZITXxz3QN79VQXqsSKVhOszto/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNDgz/NTYwMzIzL3Bob3Rv/L3lvZGEuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPVI5bjVQ/UE5NbE5wcHdMa19a/eDUzNm44c1huOFN1/VDRRRnFSU203UTRx/VVU9"
    cardTitle="Yoda: o mais forte dos Jedis"
    cardDescription="Disney anuncia quem é o mais forte dos Jedis"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    id="2"
    cardTitle="Darth Vader: Venha para o lado negro da força"
    photoCover="https://imgs.search.brave.com/FkCYsNVC3bWTAmLDJUdSFHf91-HW-wQa001tC5RkwQ4/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNTE2/MDQzNDI0L3Bob3Rv/L2RhcnRoLXZhZGVy/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz0yd3lmdmJiNmd3/MlNnV1Jjck9ObWxm/RXFkMzg0cHl5dlhU/Z0tZdXpjZ3cwPQ"
    ></app-small-card>

    <app-small-card
      id="3"
      cardTitle="Conheça a jornada de Luke Skywalker"
      photoCover="https://imgs.search.brave.com/o1J5ake0WZFuEv65rJzJI6GkOlYaVUhdMk17S4jVL1Y/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9sdW1p/ZXJlLWEuYWthbWFp/aGQubmV0L3YxL2lt/YWdlcy9vYmktd2Fu/LWx1a2UtbGlnaHRz/YWJlcnNfNDk5YTNk/NzcuanBlZz9yZWdp/b249MCwwLDEyODAs/NzIw"
    ></app-small-card>


    <app-small-card
      id="4"
      cardTitle="O que aconteceu com o este personagem?"
      photoCover="https://imgs.search.brave.com/RgAJq8t44tkt0XXlIGsmPIqC7w8fVEetKLEbHL0faiw/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/dG9ycmVkZXZpZ2ls/YW5jaWEuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE3LzA0/L01hY2UtV2luZHUu/anBn"
    ></app-small-card>
  </div>
</div>
